* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 25px;
}

table {
    border-collapse: collapse;
}

table thead tr th {
    font-size: 14px;
}

table td,
table th {
    padding: 0 .3em;
    border: 1px solid #999;
}

table tbody th {
    text-align: left;
}

.fw_100 {
    font-weight: 100;
}

table thead th div {
    vertical-align: bottom;
    padding: 10px;
}

table thead div {
    writing-mode: vertical-rl;
    transform: scale(-1);
    font-weight: 100;
}

table thead tr .w_350 {
    width: 350px;
}