<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
</head>
<body>


    <h1>Department</h1>
    <h1>Total labour intensity</h1>
        <h2>Credits ECTS</h2>
        <h2>Hours</h2>
    <h1>Amount of work in hours</h1>
        <h2>Total</h2>
        <h2>from them</h2>
            <h3>lectures</h3>
            <h3>laboratory</h3>
            <h3>practical</h3>
        <h2>inpendent work</h2>
    <h1>1st year of study</h1>
        <h2>1sem (AS)- 16 weeks</h2>
            <h3>lectures</h3>
            <h3>lab</h3>
            <h3>prac</h3>
            <h3>Credit</h3>
        <h2>2sem (AS)- 16 weeks</h2>
            <h3>lectures</h3>
            <h3>lab</h3>
            <h3>prac</h3>
            <h3>Credit</h3>
    <h1>4st year of study</h1>
        <h2>1sem (AS)- 16 weeks</h2>
            <h3>lectures</h3>
            <h3>lab</h3>
            <h3>prac</h3>
            <h3>Credit</h3>
        <h2>2sem (AS)- 16 weeks</h2>
            <h3>lectures</h3>
            <h3>lab</h3>
            <h3>prac</h3>
            <h3>Credit</h3>
    <h1>3st year of study</h1>
        <h2>1sem (AS)- 16 weeks</h2>
            <h3>lectures</h3>
            <h3>lab</h3>
            <h3>prac</h3>
            <h3>Credit</h3>
        <h2>2sem (AS)- 16 weeks</h2>
            <h3>lectures</h3>
            <h3>lab</h3>
            <h3>prac</h3>
            <h3>Credit</h3>
    <h1>4st year of study</h1>
        <h2>1sem (AS)- 16 weeks</h2>
            <h3>lectures</h3>
            <h3>lab</h3>
            <h3>prac</h3>
            <h3>Credit</h3>
        <h2>2sem (AS)- 16 weeks</h2>
            <h3>lectures</h3>
            <h3>lab</h3>
            <h3>prac</h3>
            <h3>Credit</h3>
    <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-dark" type="Submit" value="Отправить">
          </form>
</body>
</html>